controllerManager:
  manager:
    args:
    - --health-probe-bind-address=:8081
    - --metrics-bind-address=:8443
    - --leader-elect
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
        - ALL
    image:
      repository: quay.io/validator-labs/validator-plugin-aws
      tag: v0.1.11  # x-release-please-version
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
  replicas: 1
  serviceAccount:
    annotations: {}
kubernetesClusterDomain: cluster.local
metricsService:
  ports:
  - name: https
    port: 8443
    protocol: TCP
    targetPort: 8443
  type: ClusterIP
auth:
  # Override the service account used by AWS validator (optional, could be used for IAM roles for Service Accounts)
  # WARNING: the chosen service account must have the same RBAC privileges as seen in templates/manager-rbac.yaml
  serviceAccountName: ""
